footer {
  background: $gray-background;
  color: $white;
  padding: 40px 0;
}

.footer-content {
  display: block;
  text-align: center;
  
  @include mq {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

footer ul {
  margin-top: 10px;
  
  @include mq {
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin-top: 0;
  }
  
  a {
    color: $white;
    
    &:hover {
      color: darken($white, 30%);
    }
  }
}

footer li {
  display: inline-block;
}