footer {
  background: $gray-background;
  color: $white;
  padding: 40px 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer ul {
  display: flex;
  justify-content: space-between;
  width: 20%;
  
  a {
    color: $white;
    
    &:hover {
      color: darken($white, 30%);
    }
  }
}