header {
  background: url(../img/triangles.svg);
  background-size: cover;
  background-position: center;
  color: $white;
}

//Top Nav

.top-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 0;
  align-items: center;
  
  @include mq {
    flex-direction: row;
  }
}

.logo {
  font-size: 28px;
  font-weight: bold;
}

.top-nav ul {
  display: flex;
  justify-content: space-between;
  width: 60%;
  
  @include mq {
    width: 40%;
  }
}

.top-nav a {
  color: $white;
  
  &:hover {
    color: darken($white, 10%);
  }
}

//Hero

.hero {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: $gutter;
  padding-top: 20px;
  padding-bottom: 84px;
  text-align: center;
  
  @include mq {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: left;
  }
  
  .hero-image {
    margin-top: 40px;
    
    @include mq {
      padding-left: 60px;
      margin-top: 0;
    }
  }

  h1 {
    font-size: 52px;
  }
  
  p {
    margin: 40px 0 68px;
  }
}


